<div class="button-development-menu pallet-menu-sibling" style="display: none;">
	<ul class="nav nav-pills nav-stacked">
		<li class="active">
			<a href="#">
			  	<span class="badge pull-right development-menu-close"><i class="fa fa-times "></i></span>
			  	Button Menu
			</a>
		</li>
		<li></li>
	</ul>
	<div class="btn-group">
      	<div class="form-group">
			<div class="btn-group button-color-development-menu"> 
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Button Style <span class="caret"></span></a>
			
			    <ul class="dropdown-menu">
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default"></button> Default</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-primary"></button> Primary</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-success"></button> Success</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-info"></button> Info</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-warning"></button> Warning</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-danger"></button> Danger</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-link"></button> Link</a>
			        </li>
			    </ul>
			</div>	
			
			<div class="btn-group button-size-development-menu"> 
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Button Size <span class="caret"></span></a>
			
			    <ul class="dropdown-menu">
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-lg"></button> Large</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-md"></button> Default</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-sm"></button> Small</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-xs"></button> Extra Small</a>
			        </li>
			    </ul>
			</div>		
			<div class="btn-group button-toggle-development-menu">
				<button type="button" class="btn btn-default">Block</button>
			</div>
		</div>			
	</div>
	<div class="button-href-development-menu">		    
      	<div class="form-group">
	    	<label for="button-href">Button Link</label>
	    	<input type="text" class="form-control" id="button-href" placeholder="Button Link">
	  	</div>		    
	</div>	
</div>	