<script type="text/javascript" >
	$(document).ready(function(){
	
		$(document).on('click', '.btn-success', function(event){
	
	    	var name = $('#name').val();
	    	var title = $('#title').val();
	    	var description = $('#description').val();
	    	//alert( name + title + description );
	    	
	    	var route = r = jsRoutes.controllers.Development.validatePage(name).ajax({
				success: 	function(data) {
					if (data != null && data != '')
					{
						$('#modalNew').find('.modal-header').append("<p>" + data + "</p>");
						alert(data);
					}
					else
					{
				    	var route = r = jsRoutes.controllers.Development.addPage(name, title, description).ajax({
				    		beforeSend: function() {
				    			$('#modalNew').find('.modal-loading').show();
				    			$('#modalNew').find('.modal-form').hide();
				    		},
							success: function(data) {
								//alert(data)
						    	//$('#result').html(data);

						    	window.setTimeout(function(){
						    		window.location.replace("/development/" + name);
						        }, 5000);

								
						  	},
						  	error: function() {
						    	alert("Error!")
						  	}
						});
					}
				},
				error:		function(){
					alert("Error!");
				}
	    	});
	    	

	    	
		});
	
		$(document).on('click', '#open-menu', function(event){
	
	    	var route = r = jsRoutes.controllers.Development.openMenu().ajax({
				success: function(data) {
					//alert(data);
			    	$('#open-result').html(data);
			    	
			  	},
			  	error: function() {
			    	alert("Error!")
			  	}
			});
	    	
		});

	    $('input[type=file]').change(function() {
			var file = this.files[0];
			uploadFile(file);
	    });
	
		if (Modernizr.draganddrop) 
		{
			// Browser supports HTML5 DnD.
		  	//alert("drag and drop");
		} 
		else 
		{
		  	// Fallback to a library solution.
			//alert("no drag and drop");
		}
		
  		// Setup the dnd listeners.
  		var dropZone = document.getElementById('drop-zone');
  		dropZone.addEventListener('dragover', handleDragOver, false);
  		dropZone.addEventListener('drop', handleFileSelect, false);

		mediaThumbnails(event);

		resizeTargets();
		createGrid();
		setDroppable();
		
		$(window).resize(function(){
			resizeTargets();
			createGrid();
		});
		
		draggableTemplate();
		
		editText();
					
	});
	
	function createGrid()
	{
		var length = $("#grid-display > .row").length;
		var height = $("#grid-display > .row").height();
		
		var htmlRow = ['<div class="row">',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    		'<div class="col-xs-1 grid-cell"></div>',
	    	'</div>'].join('\n');
		
		while (length * height < $('#result').height())
		{
			$('#grid-display').append(htmlRow);
			resizeTargets()
			length = $("#grid-display > .row").length;			
		}
		

	}
	
	function resizeTargets()
	{
		var length = ($("#overlay").width() / 12);
		
		$('.col-xs-1').each(function(){
			$(this).css('height', length);
	   	});
	   
	   	$('#grid-display > .row').each(function(){
		   	$(this).css('height', length);   
	   	});
	}
	
	//Functions
    function uploadFile(file)
    {
		//this only uploads raw file
    	var route = r = jsRoutes.controllers.Development.uploadAjax(file.name).ajax({
	    	data: file,
	    	processData: false,
            contentType: false,
            cache: false,
            type: 'POST',
			success: function(data) {
				mediaThumbnails(event);
		  	},
		  	error: function() {
		    	alert("Error!");
		  	}
		});	    
    }
	
	function mediaThumbnails(event){
		var route = r = jsRoutes.controllers.Development.showImageThumbnails("medium").ajax({
			success: function(data) {
				//alert(data);
		    	$('#media-thumbnails').html(data);
		    	draggableThumbnail();
		  	},
		  	error: function() {
		    	alert("Error!");
		  	}
		});
	}
	//TODO
	//this needs to be updated so set template and set all template children
	function setDroppable()
	{
		$('#result').droppable({
			drop:		function(event, ui){
				//alert('drop');
				var gridWidth = $('#overlay').width() / 12;
				var gridHeight = gridWidth;
				
				var helperOffset = ui.helper.offset();
				var clonedComponent = ui.helper.clone();
				
				var offsetTop = helperOffset.top - $("#result").offset().top;
				var offsetLeft = helperOffset.left - $("#result").offset().left;
				
				var divTop = parseInt((offsetTop + 5) / gridHeight);
				var divLeft = parseInt((offsetLeft + 5) / gridWidth);

				var topPosition = divTop * gridHeight;
				var leftPosition = divLeft * gridWidth;
				
				var width = 0;
				var height = 0;

				var componentId = 0;
				
				var componentType = "image";
				var name = "test";
				var code = "";

				var elementCheck = document.createElement('element');

				var templateId = 0;				
				var pageId = $('.custom-page').attr('id');
				
				//if (clonedComponent.find('.component-wrapper').length > 0)
				//{
				clonedComponent.find('.template-wrapper').addBack('.template-wrapper').each(
					function(){

						var template = $(this);
						
						alert("test");
						templateId = 0
						attr = template.attr('id');

						if (typeof attr !== 'undefined' && attr !== false)
						{
							templateId = template.attr('id');
						}	

						var route = r = jsRoutes.controllers.Development.updateTemplate(name, code, templateId, Math.floor(topPosition), Math.floor(leftPosition), pageId).ajax({
							success: function(data) {
					    		alert(data);
					    		//$(clonedComponent).replaceWith(data);	

					    		//draggableTemplate();	
					    		//editText();
					    		
					    		
					    		templateId = data;

					    		//alert("templateId: " + templateId);
					    		template.attr('id', templateId);

					    		template.addClass("phil-test");

					    		template.find('.component-wrapper').each(
									function(){

										var component = $(this);
										
										//alert("Hello, World!");
										//alert("test2: " + templateId);
										componentId = 0;
										attr = component.attr('id');

										if (typeof attr !== 'undefined' && attr !== false)
										{
											componentId = component.attr('id');
										}							
										code = component.html();
										componentType = component.attr('type');
										

										/**/
										var route = r = jsRoutes.controllers.Development.updateComponent(code, componentId, componentType, Math.floor(topPosition), Math.floor(leftPosition), width, height, templateId, pageId).ajax({
											success: function(data) {
									    		//alert(data);
									    		//$(clonedComponent).replaceWith(data);	

									    		//draggableTemplate();	
									    		//editText();
									    		componentId = data;

									    		//alert("componentId: " + componentId);
									    		component.attr('id', componentId);

									    		component.addClass("phil-test");
													    											    						    	
										  	},
										  	error: function() {
										    	alert("Error!");
										  	}
										});
										/**/
									}
								);	
					    						    	
						  	},
						  	error: function() {
						    	alert("Error!");
						  	}
						});					
												
						


				
					}
				);					
				//}

				//TODO: clonedComponent.find( 'component-item' ) for multiple components
				if (clonedComponent.hasClass('component-item'))
				{
					code = clonedComponent.html();
					componentType = clonedComponent.attr('type');
					//alert("2code: " + code);
				}
				
				//if (clonedComponent.hasClass("template-wrapper"))
				//{
				//	templateId = clonedComponent.attr('id');
				//}
				
				ui.helper.remove();
				
				
				
			 	
				
			 	$(clonedComponent).detach();
				$(clonedComponent).css('top', topPosition);
				$(clonedComponent).css('left', leftPosition);	

				
				$(clonedComponent).draggable({
                    helper:         "original",
                    containment:    "#result",
                    tolerance:      "fit",
                    cursor:         "move",
                    snap:			".grid-cell"
                });

				
				
				$(clonedComponent).appendTo( "#result" );

	    		draggableTemplate();	
	    		editText();
			}
		});
		
		
	}
	
	function draggableTemplate()
	{
		$('.template-wrapper').draggable({
            helper:         "original",
            containment:    "#result",
            tolerance:      "fit",
            cursor:         "move",
            snap:			".grid-cell"
        });
	}
	
	function draggableThumbnail()
	{
        $('.draggable-thumbnail').draggable({
            helper:			function(event){
				var result = $(this).clone();

				alert($(result).find('img').attr('parentId'));
				
				var img = $(result).find('img');
            	
			 	var route = r = jsRoutes.controllers.Development.getImage(img.attr('parentId'), "large").ajax({
					success: function(data) {

						
						alert(data);
						img.replaceWith(data);
			    		//$(result).html(data);					    	
				  	},
				  	error: function() {
				    	alert("Error!");
				  	}
				});
				
				return $(result);		            
            },
            containment:    "#result",
            tolerance:      "fit",
            cursor:         "move",
            revert:			true,
            snap:			".col-xs-1",
            /**
            drag: function( event, ui ) {
                var snapTolerance = $(this).draggable('option', 'snapTolerance');
                var topRemainder = ui.position.top % 68;
                var leftRemainder = ui.position.left % 63;
                
                if (topRemainder <= snapTolerance) {
                    ui.position.top = ui.position.top - topRemainder;
                }
                
                if (leftRemainder <= snapTolerance) {
                    ui.position.left = ui.position.left - leftRemainder;
                }
            }, 
            /**/
            start:  function( event, ui ){
                //zIndexTemp = $(this).zIndex();
                //$(this).zIndex( 9999 );
            },
            stop:   function( event, ui ){
                //zIndexTemp = $(this).zIndex();
                //$(this).zIndex( zIndexTemp );
            }

        });
    }
	
	function handleDragOver(event) 
	{
   		event.stopPropagation();
   		event.preventDefault();
   		event.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
	}
		
	function handleFileSelect(event) 
	{
		event.stopPropagation();
  		event.preventDefault();

  		var files = event.dataTransfer.files; // FileList object.

  		// files is a FileList of File objects. List some properties.
  		
  		var output = [];
  		
  		for (var i = 0, f; f = files[i]; i++) 
  		{
   			uploadFile(f);
   			
   			output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
         			f.size, ' bytes, last modified: ',
               	f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
               	'</li>');
		}
 			
  		document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	}

	
	function editText()
	{

		$('.editable-text').popline();
		$('.editable-text').mouseenter(function() 
		{
			$(this).parents('.ui-draggable').draggable('disable');
			//alet('mouse enter');
		});
		
		$('.editable-text').mouseleave(function() 
		{
			$(this).parents('.ui-draggable').draggable('enable');
		});
		

	}
</script>