@(component: Component)
	
	@renderComponent(component)
	
	
	@renderComponent(component: Component) = {
		<div class="@component.classes" id="@component.id" type="@component.componentType">
		
			@component.componentType match {
				case ("row") => {
					<div class="development-menu">
						<i class="drag fa fa-square-o"></i>				
					</div>
					<div class="row clearfix">
						@Html(component.code)
						
						@for(child <- component.children) {
							@renderComponent(child)		
						}					
					</div>
				}
				
				case ("page-header") => {
					<div class="development-menu">
						<i class="drag fa fa-square-o"></i>				
					</div>
					@Html(component.code)
					
					@for(child <- component.children) {
						@renderComponent(child)		
					}
					
				}
				case ("menu") => {
					<div class="development-menu">
						<i class="drag fa fa-square-o"></i>				
					</div>
					@Html(component.code)
					
					@for(child <- component.children) {
						@renderComponent(child)		
					}
				}
				
				case _ => {

					@Html(component.code)
					
					@for(child <- component.children) {
						@renderComponent(child)		
					}
				}
			}	
		</div>		
	}
	