@(page: Page, message: String)

@views.html.main("development") {


	@views.html.development.developmentjavascript()
	<!-- global variable test -->
	
    <header>
    	<hgroup>
    		<h1>Dashboard</h1>
    		<h2>@message</h2>
   		</hgroup>
   		
   		<hgroup>
   			<div class="row">
   				<div id="dev-menu" class="col-md-8 col-md-offset-2">
   					<div class="panel-heading">
		                <a data-toggle="modal" href="#modalNew" roll="button" class="btn btn-default btn-sm">
		                    <span class="glyphicon glyphicon-file"></span>
		                    New
		                </a>
		                <a id="open-menu" data-toggle="modal" href="#modelOpen" roll="button" class="btn btn-default btn-sm">
		                    <span class="glyphicon glyphicon-open"></span>
		                    Open
		                </a>
		                <button id="save" type="button" class="btn btn-default btn-sm">
		                    <i class="fa fa-floppy-o fa-lg"></i>
		                    Save
		                </button>
		                <button type="button" class="btn btn-danger btn-sm">
		                    <span class="glyphicon glyphicon-remove"></span>
		                    Close without Saving
		                </button>
		
	                    <span class="pull-right">
	                    <button type="button" class="btn btn-default btn-sm">
	                        <img style="width: 18px; height: 18px;" src="images/undo.png">
	                        Undo
	                    </button>
	                    <button type="button" class="btn btn-default btn-sm">
	                        Redo
	                        <img class="imgFlip" style="width: 18px; height: 18px;" src="images/undo.png">
	                    </button>
	
	                    <button type="button" class="btn btn-default btn-sm" id="show-menu">
	                        <i class=" fa fa-bars fa-lg "></i>
	                    </button>
	
	                    </span>
		            </div>
   				</div>
   			</div>
   		</hgroup>
    </header>
    <!--  Main Editor Area -->
    
    <div class="">
	    <div class="row">
 			<div class="col-md-8">			
				@if(page == null) {
				  	<h1>Nothing to display</h1>
				} else {
	
			    		<div id="page-information">
				
							<h3>Name: @page.name</h2>
							<h3>Title: @page.title</h2>
							<h3>Description: @page.description</h3>
						
					    </div>
			    		<div id="overlay"  >	    
						    <div id="result" class="col-md-12">
								@if(page != null) {				 			
									@views.html.development.developmentpage(page)							
								}
						    </div>
				    
						    <div id="grid-display" class="col-md-12">
						    	<div class="row">
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    		<div class="col-xs-1 grid-cell"></div>
						    	</div>
						    </div>
				    
				    
					    </div>
				}	
			</div>
			
			<div id="palette-menu" class="col-md-4 " style="height: 100%; ">
				@views.html.development.palletmenu()
			</div>	    
	    </div>
    </div>
<!-- Model New Page-->
    <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">New</h4>
                </div>
                <div class="modal-body">
					<div class="modal-form">
	                    <form class="form-inline" role="form" id="addNewPage">
	                        <div class="form-group">
	                            <label class="sr-only" for="name">Page Name</label>
	                            <input type="text" class="form-control" id="name" placeholder="Enter Page Name">
	                            <br/>
	                            <label class="sr-only" for="title">Page Title</label>
	                            <input type="text" class="form-control" id="title" placeholder="Enter Title">
	                            <br/>
	                            <label class="sr-only" for="description">Page Description</label>
	                            <input type="text" class="form-control" id="description" placeholder="Enter Description">
	                        </div>
	                    </form>
                    </div>
                    <div class="modal-loading">
                    	<div id="loading-frame">
                    	@for(i <- 1 to 25){
                    		<div class="dot"></div>
                    	}                   	
                    	</div>
                    	<div style="margin: auto; text-align: center;">
                    		<h3 style="">Loading...</h3>
                   		</div>
                    </div>
                    <div class="modal-footer">
                        <!-- <a href="#" class="btn btn-primary btn-success">Save</a> -->
                        <button type="button" class="btn btn-success" >Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- Model Open Page-->
    <div class="modal fade" id="modelOpen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Open</h4>
                </div>
                <div id="open-result">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary btn-default">Open</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

}