<div class="image-development-menu pallet-menu-sibling" style="display: none;">
	<ul class="nav nav-pills nav-stacked">
		<li class="active">
			<a href="#">
			  	<span class="badge pull-right development-menu-close"><i class="fa fa-times "></i></span>
			  	Image Menu
			</a>
		</li>
		<li></li>
	</ul>
	<div class="btn-group">
      	<div class="form-group">
			<div class="btn-group image-style-development-menu"> 
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Image Style <span class="caret"></span></a>
			
			    <ul class="dropdown-menu">
			        <li data-value="">
			        	<a href="#">Default</a>
			        </li>
			        <li data-value="img-rounded">
			        	<a href="#">Rounded</a>
			        </li>
			        <li data-value="img-circle">
			        	<a href="#">Circle</a>
			        </li>
			        <li data-value="img-thumbnail">
			        	<a href="#">Thumbnail</a>
			        </li>
			    </ul>
			</div>
		</div>			
	</div>
</div>	