<div class="navbar-development-menu pallet-menu-sibling" style="display: none;">
	<ul class="nav nav-pills nav-stacked">
		<li class="active">
			<a href="#">
			  	<span class="badge pull-right development-menu-close"><i class="fa fa-times "></i></span>
			  	Navigation Bar Menu
			</a>
		</li>
		<li></li>
	</ul>
	<div class="btn-group">
      	<div class="form-group">
			<div class="btn-group navbar-inverse-development-menu">
				<button type="button" class="btn btn-default">Inverse</button>
			</div>
			<div class="btn-group navbar-border-development-menu">
				<button type="button" class="btn btn-default">Rounded</button>
			</div>
		</div>			
	</div>
	<div class="navigation-href-development-menu" style="display: none;">		    
      	<div class="form-group">
	    	<label for="navbar-href">Button Link</label>
	    	<input type="text" class="form-control" id="navbar-href" placeholder="Nav Link">
	  	</div>	
		<div class="btn-group navbar-href-active-development-menu">
			<button type="button" class="btn btn-default">Active</button>
		</div>	    
	</div>	
</div>	