
	<div class="panel-group" id="accordion">
	    <!-- Basic HTML Elements -->
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
	                <h3 class="panel-title">
	                    Media
	                </h3>
	            </a>
	        </div>
	        <div id="collapse-one" class="panel-collapse collapse in">
	            <div class="panel-body">
	                <ul class="nav nav-pills nav-stacked">
	                    
	                </ul>
	                <script type="text/javascript">
					$('document').ready( function(){$('.draggable-text').draggable({
	            	helper:			"clone",
		            containment:    "#result",
		            tolerance:      "fit",
		            cursor:         "move",
		            revert:			true,
		            snap:			".col-xs-1"
		      	  	});
					}
					);
	                </script>
	                <br><div class="draggable-text">Dragwithme<textarea>Touchme</textarea></div>
					<br>test
					<div id="media-thumbnails">
					
					</div>
					test<br>
					<!-- Drag and drop upload area -->
			    	<input type="file" name="picture">
			    	
			    	
			    	<div id="drop-zone" style="width: 200px; height: 100px; border: 1px solid grey;">Drop files here</div>
					<output id="list"></output>
            	
            	</div>
	        </div>
	    </div>	
	</div>
