@(page: Page)

<script type="text/javascript" >
	$(document).ready(function(){
		$('.panel').each(function(){
			$(this).find('.component-menu').addClass('hide');
		});
				
	});
</script>
    <!-- Basic HTML Elements -->
    <div class="panel panel-default sidebar-nav">
		<div class="panel-body" id="development-menu-info">		
			@if(page != null) {
				<h4>Name: @page.name</h4>
				<h4>Title: @page.title</h4>
				<h4>Description: @page.description</h4>					  	
			}
		</div>	
		<div class="btn-group">
			<div class="btn-group button-color-development-menu"> 
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Button Style <span class="caret"></span></a>
			
			    <ul class="dropdown-menu">
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default"></button> Default</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-primary"></button> Primary</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-success"></button> Success</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-info"></button> Info</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-warning"></button> Warning</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-danger"></button> Danger</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-link"></button> Link</a>
			        </li>
			    </ul>
			</div>	
			
			<div class="btn-group button-size-development-menu"> 
				<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Button Size <span class="caret"></span></a>
			
			    <ul class="dropdown-menu">
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-lg"></button> Large</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-md"></button> Default</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-sm"></button> Small</a>
			        </li>
			        <li>
			        	<a href="#"><button type="button" class="btn btn-default btn-xs"></button> Extra Small</a>
			        </li>
			    </ul>
			</div>		
			<div class="btn-group button-toggle-development-menu">
				<button type="button" class="btn btn-default">Block</button>
			</div>
		</div>
		<div class="button-href-development-menu">
			<label for="button-href">Button Link</label>
			<input type="text" id="button-href">
		    <span></span>
		</div>		
	</div>
    <div class="panel panel-default sidebar-nav">	
		<div class="panel-group" id="accordion">      	
	       	<div class="panel panel-default">
		        <div class="panel-heading">	        
		            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
		                <h3 class="panel-title">
		                    Test
		                </h3>
		            </a>
		        </div>
		        <div id="collapse-one" class="panel-collapse collapse in">
		        	      
					<div class="component-wrapper component-element" type="row">
						@views.html.development.componentmenu("row")
						<div class="thumbnail-component">12 row</div>
						<div class="component-interior hide">
							<div class="row clearfix ">
								<div class="col-md-12 column component-element" type="column"></div>
							</div>
						</div>
					</div>
			      
					<div class="component-wrapper component-element" type="row">
						@views.html.development.componentmenu("row")
						<div class="thumbnail-component">6.6 row</div>
						<div class="component-interior hide">
							<div class="row clearfix ">
								<div class="col-md-6 column component-element" type="column"></div>
								<div class="col-md-6 column component-element" type="column"></div>
							</div>
						</div>
					</div>
					
					<div class="component-element design-element" type="menu" >
						@views.html.development.componentmenu("menu")									
						<div class="thumbnail-component">menu</div>
						<div class="component-interior hide">
							<ul class="nav nav-pills ">
								<li class="active"><a href="#" class="editable-text">Menu Element</a></li>
							</ul>
			            </div>
		            </div>
			      
					<div class="component-element design-element" type="page-header" >
						@views.html.development.componentmenu("page-header")	
						<div class="thumbnail-component">Header</div>
						<div class="component-interior hide">
							<div class="page-header editable-text ">
			  					<h1>Example page header <small>Subtext for header</small></h1>
							</div>
						</div>
		            </div>
		      
					<div class="component-element design-element" type="jumbotron" >
						@views.html.development.componentmenu("jumbotron")						
						<div class="thumbnail-component">Jumbotron</div>
						<div class="component-interior hide">
							<div class="jumbotron editable-text ">
								<h1>Hello, world!</h1>
								<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
								<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
							</div>					
						</div>					
		            </div>
		            
					<div id="media-thumbnails">
					
					</div>
		      
					<!-- Drag and drop upload area -->
			    	<input type="file" name="picture">
			    	
			    	
			    	<div id="drop-zone" style="width: 200px; height: 100px; border: 1px solid grey;">Drop files here</div>
					<output id="list"></output>

		        </div>
		    </div>	
		</div>
	</div>
