body 
{ 
	padding-top: 50px;
}

.page-wrapper, .custom-page, .full-height
{
    height:100vh;
}

.row
{
	//border: 2px dotted red;
	padding: 0px;
	margin: 0px;	
}

.placeholder-element
{
	border: 1px dotted rgba(86, 61, 124, 1.0);
	padding: 25px;
	height: 100px;
}

.column 
{
	background-color: #FFFFFF;
	border: 1px solid rgba(86, 61, 124, 0.4);
	margin: 15px 0;
	padding: 39px 19px 24px;
	position: relative;
}

.column:hover
{
	//border: 2px solid rgba(86, 61, 124, 0.6);
}

.column .design-element:hover 
{ 
	z-index:1001;
}

.component-element
{
	margin-top: 5px;
}
.component-interior
{
	padding: 5px;
	border-left: 1px solid #dddddd;	
	border-right: 1px solid #dddddd;	
	border-bottom: 1px solid #dddddd;	
}
.component-wrapper
{
	//margin-top: 5px;
	//padding: 5px;
}

.component-menu
{

}

.nav > li.delete-component > a
{
	color: #d9534f;	
}

.nav > li.delete-component > a:hover
{
	color: #ffffff;
  	background-color: #d2322d;
  	border-color: #ac2925;
}

.dragging
{
    -webkit-transform: none; 
    -webkit-transition: none;
    transform: none; 
    transition: none;
    box-shadow: 0 0 6px #428bca; 
    //background-color: white;
    //display: block;
    border: 2px solid #428bca;
}

.currentTarget
{
	border: 2px solid red;	
}

.button-development-menu
{
	border: 1px solid #dddddd;
	margin: 5px;
	padding: 5px;
}

.button-development-menu h4 span.label
{
	cursor: pointer;
}