.draggable-row 
{ 
	
	div
	{
		border: 2px solid blue;
		padding: 20px;
	}
	
}

.philtest 
{ 
	border: 2px solid red;
	padding: 20px;
	
	div > div
	{
		border: 2px solid blue;
		padding: 20px;
	}
	
}

.Phil-Test
{
	border: 2px dotted grey;
	padding: 25px;
}

.test-row, .component-wrapper
{
	border: 2px dotted red;
	padding: 25px;
}

.placeholder-element
{
	border: 2px dotted green;
	padding: 25px;
}

.column {
	background-color: #FFFFFF;
	border: 1px solid black;
	margin: 15px 0;
	padding: 39px 19px 24px;
	position: relative;
}


.column .design-element:hover { z-index:1001;}